@import "variables.scss";
@import "mixins.scss";

.accomodation{
    &-container{
        margin-bottom:toRem(15);
        @include tablet{
            display: flex;
            justify-content: space-between;
            margin-top:toRem(30);
        }
    }
    &-title{
        color:$primary;
        font-size:toRem(18);
        font-weight: $font-weight;
        margin: 0;
        @include desktop{
            font-size:toRem(36);
        }
    }

    &-subtitle{
        color:$primary;
        font-size:toRem(14);
        font-weight: $font-weight;
        margin-top:toRem(5);
        @include desktop{
            font-size:toRem(18);
        }
    }

    &-description{
        
        &> .collapse{
            flex:1;
        }
        @include desktop{
            display: flex;
            gap:toRem(76);
        }
    }

    &-tags{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        gap:toRem(10);
        margin:toRem(24) 0;

        >li{
            background-color: $primary;
            color:$white;
            border-radius: toRem(10);
            text-align: center;
            padding: toRem(7) toRem(20);
        }
    }

    &-user{
        display: flex;
        align-items: center;
        gap:toRem(10);

        .accomodation-username{
            font-size: toRem(12);
            color:$primary;
            margin:0;
            @include tablet{
                font-size: toRem(18);
            }
        }
        img{
            border-radius:50%;
            height:toRem(32);
            width: toRem(32);
            @include tablet{
                height:toRem(64);
                width: toRem(64);
            }
        }
    }

}