@import "variables.scss";
@import "mixins.scss";

body{
    font-family: $font-family;
    font-weight: $font-weight;
}

.container{
    max-width: 1240px;
    margin:0 auto;
    padding:0 20px;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color:$primary;
}

ul.list-none{
    list-style: none;
    margin:0;
    padding:0;
    li{
        margin-bottom:toRem(5);
    }
}