@import "variables.scss";
@import "mixins.scss";

.banner-container{
    position: relative;
    border-radius: 25px;
    overflow: hidden;

    &:before{
        content:'';
        position: absolute;
        top:0;
        left:0;
        right:0;
        background:rgba($black,0.2);
        width: 100%;
        height: 100%;
    }

    h1{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        margin: 0;
        font-size:1.5rem;
        font-weight: 500;
        color:$white;
        white-space: nowrap;

        @include tablet{
            font-size:3rem;
        }
    }

    img{
        width: 100%;
        object-fit: cover;
        vertical-align: top;
    }
}