@import "variables.scss";
@import "mixins.scss";

.collapse{
    margin-bottom:20px;
    margin-bottom:30px;
    
    font-size:toRem(13);
    @include tablet {
        font-size: toRem(18);
    }

    &-list{
        width: 80%;
        margin: 38px auto;
    }

    &-header{
        background-color: $primary;
        color:$white;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        font-family: $font-family;
        padding: 15px;
        outline:none;
        border:none;
        width:100%;
        font-size: 24px;
        cursor: pointer;

        img{
            width:24px;
        }
    }

    &-body{
        background-color: $gray;
        border-radius:10px;
        padding:20px;
        color:$primary;
        font-weight: $regular-weight;
        pointer-events: none;

        p{
            margin:0;
            line-height: 1.4;
        }
    }

    &-hidden{
        opacity: 0;
        max-height: 0;
        transform:scaleY(0%);
        transition: all 250ms ease-in-out;
    }

    &-visible{
        opacity: 1;
        max-height: max-content;
        transform:scaleY(100%);
        transition: all 250ms ease-in-out;
    }
}

.chevron{
    transition:transform 350ms ease-in-out;
    transform:rotate(0);
    &-animated{
        transform:rotate(-180deg);
    }
}

.Accomodation{
    .collapse-header{
        font-size:toRem(18);
    }
}