@import "variables.scss";
@import "mixins.scss";

.collapse{
    margin-bottom:20px;
    margin-bottom:30px;
    
    font-size:toRem(13);
    @include tablet {
        font-size: toRem(18);
    }

    &-list{
        margin: 38px auto;
        @include tablet{
            width: 80%;
        }
    }

    &-header{
        background-color: $primary;
        color:$white;
        display: flex;
        justify-content: space-between;
        border-radius: toRem(5);
        font-family: $font-family;
        padding: toRem(10);
        outline:none;
        border:none;
        width:100%;
        font-size: toRem(13);
        
        cursor: pointer;
        @include tablet{
            font-size: toRem(24);
            padding: toRem(15);
        }

        img{
            width:toRem(16);
            @include tablet{
                width:toRem(24);
            }
        }
    }

    &-body{
        background-color: $gray;
        border-radius:toRem(10);
        padding:toRem(20);
        color:$primary;
        font-weight: $regular-weight;
        pointer-events: none;

        p{
            margin:0;
            line-height: 1.4;
        }
    }

    &-hidden{
        opacity: 0;
        max-height: 0;
        transform:scaleY(0%);
        transition: all 250ms ease-in-out;
    }

    &-visible{
        opacity: 1;
        max-height: max-content;
        transform:scaleY(100%);
        transition: all 250ms ease-in-out;
    }
}

.chevron{
    transition:transform 350ms ease-in-out;
    transform:rotate(0);
    &-animated{
        transform:rotate(-180deg);
    }
}

.Accomodation{
    .collapse-header{
        font-size:toRem(18);
    }
}