@import "variables.scss";
@import "mixins.scss";

.Error{
    text-align: center;
    color:$primary;

    .big-heading{
        font-size:toRem(96);
        margin: 0;
        font-weight: $headings-weight;
        @include tablet{
            font-size:toRem(288);
        }
    }

    .subtitle{
        margin:toRem(113) 0 toRem(113) 0;
        font-size: $regular-size;

        @include tablet{
            font-size: toRem(36);
            margin:toRem(139) 0 toRem(139) 0;
        }
    }

    a{
        display: block;
        margin-bottom:toRem(113);
        @include tablet{
            margin-bottom:toRem(139);
        }
    }
}