@import "variables.scss";
@import "mixins.scss";

footer{
    background-color: $black;
    color:$white;
    text-align: center;
    padding:toRem(58) 0;
    @include tablet{
        padding:66px 0 29px 0; 
    }

    p{
        font-size:toRem(12);
        margin-bottom: 0;
        margin-top:toRem(10);

        @include tablet{
            font-size: 1.5rem;
            margin-top:toRem(36);
        }
    }

}