@import "variables.scss";
@import "mixins.scss";

header.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:toRem(50) toRem(20); 
    @include tablet{
        padding:50px 0 50px 0;
    }

    img{
        max-width: toRem(145);
        @include tablet{
            max-width: toRem(210);  
        }
    }
}