@import "variables.scss";
@import "mixins.scss";

header.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0 50px 0;

    img{
        max-width: 145px;
        @include tablet{
            max-width: 210px;  
        }
    }
}