@import "variables.scss";

.accomodations-list{
    background-color: $gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:50px 60px;
    border-radius: 25px;
    margin:45px 0 45px 0;
    padding:50px;
}