@import "variables.scss";
@import "mixins.scss";

.accomodations-list{
    display: grid;
    gap:20px;
    border-radius: $border-radius;
    
    @include tablet{
        margin:45px 0 45px 0;
        background-color: $gray;
        grid-template-columns: repeat(2,1fr);
        gap:50px 60px;
        padding:50px;
    }

    @include desktop{
        grid-template-columns: repeat(3,1fr);
    }

    a{
        @include tablet{
            min-height:toRem(340);
        }
    }
}