@import "variables.scss";
@import "mixins.scss";

nav{
    display: flex;
    gap:57px;
    a{
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        @include tablet{
            font-size: 24px;
            text-transform: none;
        }
        &.active{
            text-decoration: underline;
        }
    }
}