@import "variables.scss";
@import "mixins.scss";

.accomodation-ratings{
    display: flex;
    gap:toRem(5);
    justify-content: space-between;
    @include tablet{
        margin-top:toRem(21);
        gap:toRem(15);
        justify-content: flex-end;
    }

    img{
        width:toRem(13);
        @include tablet{
            width:toRem(24);
        }
    }
}