@import "variables.scss";
@import "mixins.scss";

.slider-container{
    max-height: toRem(255);
    overflow: hidden;
    border-radius: toRem(10);
    margin-bottom: toRem(15);
    @include tablet{
        max-height: toRem(415);
        border-radius: $border-radius;
        margin-bottom: 0;
    }
}